<br>
<mat-list role="list">
  <h1> &nbsp; Benvenuti nell'applicazione sull'analisi di disastri naturali!</h1>
  <h3> &nbsp; I dati analizzati provengono da tweet raccolti in seguito al verificarsi dell'uragano <strong>Sandy</strong>.</h3>
  <h3>&nbsp; Le tipologie di query sono suddivise in 4 categorie:</h3>
  <mat-list-item role="listitem">
    - Analisi sulle tipologie di tweet relativi al disastro</mat-list-item>
  <mat-list-item role="listitem">
    - Analisi sui luoghi in cui si è verificato l'evento mostrati su mappe </mat-list-item>
  <mat-list-item role="listitem">
    - Alcuni numeri sul disastro</mat-list-item>
  <mat-list-item role="listitem">
    - Rilevamento di sotto-eventi tramite tecniche di Machine Learning (clustering)</mat-list-item>
</mat-list>




